.main{
    display: flex;
    flex-direction: row;
    background-color: rgb(229, 239, 187);
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
}


label{
  color: rgb(16, 17, 17);
  font-family: cursive;
  font-size: 25px;
  font-weight: bolder;
}

p{
  color:blue
}

p1{
  color:green;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: fit-content;
}

img {
    margin: 20px;
    width: 250px;
    height:250px;  
  }
